{% extends 'base.html.twig' %}

{% block body %}
    <div class="bgd" ><a href="{{path('pokemon_list') }}"><img src="{{ asset('img/pokemon/pokemon_logo.svg.png') }}" alt="logo"></a> </div>
    <h1 style="text-align: center"><a href="{{path('pokemon_list') }} ">Attraper les tous</a> </h1>

{% endblock %}

{% block title %}
Acueil
{% endblock %}

